:root {
  --background-color: rgb(221, 160, 221);
}
.scoerTable {
  width: 60%;
  margin: 0px auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  color: white;
}

.scoerTable_div {
  width: 150px;
  padding: 5px;
  background-color: var(--background-color);
  border: 1px solid black;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5), -5px -5px 8px rgba(0, 0, 0, 0.5);
}

.win {
  background-color: green;
}

.los {
  background-color: red;
}
